@import url('https://fonts.google.com/specimen/Poppins?query=poppins');

body,
html {
    height: 100%;
}

main {
    height: 100vh;
    width: 100%;
    background: black;
}

.header {
    padding: 50px;
}

label {
    color: #fe6f25;
}

h1 {
    color: #fe6f25;
    font-size: 30px;
}

h4 {
    color: white;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    max-height: 75px;
    width: auto;
    height: auto;
}

.centralizar-div {
    display: flex;
    justify-content: center;
}

.text {
    margin-top: 10px;
}


.texto2 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.inputs {
    margin: 0px 40px 50px;
}

.input {
    margin-top: 40px;
}


button {
    background-color: #fe6f25;
    color: white;
}

.button {
    margin: 0px 70px 0px;
}