<div class="full">
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../../assets/img-desktop-login/logo.svg" alt="Bootstrap" width="200" height="49"/>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <button class="btn btn-outline" routerLink="/login">Login</button>
                <button class="btn btn-outline" routerLink="/cadastro">Cadastre-se</button>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="content">
        <p>Você está cansado de bancos tradicionais que cobram taxas abusivas, têm atendimento ruim e não oferecem nada de novo? Então, você precisa conhecer o <strong>Sharp Coding Pay</strong>, o banco que é mais que um banco, é uma solução.</p>

        <p><strong>Sharp Coding Pay</strong> é um banco 100% online, que permite que você abra sua conta, faça transações, invista, pague contas, recarregue seu celular e muito mais, tudo pelo seu celular ou computador, sem burocracia, sem filas, sem papelada.</p>
        
        <p>Além disso, o <strong>Sharp Coding Pay</strong> tem as melhores taxas do mercado, oferece cashback em todas as compras, tem um programa de pontos que você pode trocar por produtos e serviços, e ainda conta com uma equipe de especialistas que te ajudam a planejar seu futuro financeiro.</p>
        
        <p>O <strong>Sharp Coding Pay</strong> é o banco que se adapta a você, que entende suas necessidades e que te oferece soluções personalizadas para você alcançar seus objetivos. O <strong>Sharp Coding Pay</strong> é o futuro do seu dinheiro.</p>
        
        <p>Não perca tempo, abra sua conta no <strong>Sharp Coding Pay</strong> hoje mesmo e descubra um novo jeito de lidar com o seu dinheiro. <strong>Sharp Coding Pay</strong> é o banco que você merece.</p>
    </div>

    <div class="card">
        <img src="../../../assets/meus-cartoes/card.gif" alt="Imagem do cartão">
    </div>
</div>


<div class="footer">
    <a href="https://github.com/nadiellymedeiros/hackadev-sharp-coders-2023" target="_blank"><img src="../../../../assets/img-desktop-login/logo.svg" class="img-fluid" alt="Imagem responsiva"/></a>
    <p>© SharpCoding2024 Todos os direitos reservados.</p>
</div>