<div class="container vw-100 vh-100 bg-dark p-1">
  <!-- Div responsavel pelos links "TODAS", "ENTRADAS" E "SAÍDAS" -->
  <div class="container align-items-center pb-1 pt-1">
    <div class="row bg-light p-3">
      <a
        href="extrato"
        class="col link-underline link-underline-opacity-0 text-center laranja fs-5 fw-bold"
        >TODAS</a
      >
      <a
        href="extrato"
        class="col link-underline link-underline-opacity-0 text-center laranja fs-5 fw-bold"
        >ENTRADAS</a
      >
      <a
        href="extrato"
        class="col link-underline link-underline-opacity-0 text-center laranja fs-5 fw-bold"
        >SAÍDAS</a
      >
    </div>
  </div>

  <div class="container pt-1 pb-1">
    <div class="cinza p-3 laranja row">
      <h5 class="col-6">HOJE</h5>
      <h5 class="col-4 text-nowrap">Saldo do dia</h5>
      <h5 class="col-2 fw-bold">R$</h5>
    </div>
  </div>
</div>
