<!-- Div do corpo da pagina, deixando a coloração preta e ocupando a tela inteira -->
<!-- Mobile -->
<div class="container-fluid w-100 h-100 p-1 bg-black hide-mobile">
  <!-- Div responsavel pelos links "TODAS", "ENTRADAS" E "SAÍDAS" -->
  <div class="container-fluid pb-1 pt-1 noventa">
    <div class="row bg-light py-2">
      <a
        href="extrato"
        class="col link-underline link-underline-opacity-0 text-center laranja fs-5 fw-bold"
        >TODAS</a
      >
      <a
        href="extrato"
        class="col link-underline link-underline-opacity-0 text-center laranja fs-5 fw-bold"
        >ENTRADAS</a
      >
      <a
        href="extrato"
        class="col link-underline link-underline-opacity-0 text-center laranja fs-5 fw-bold"
        >SAÍDAS</a
      >
    </div>
  </div>

  <!-- Button responsavel pelo abrir e fechar do extrato "HOJE" -->
  <div
    class="container-fluid pt-0 pb-1 noventa"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#expandir"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <div class="cinza p-3 laranja row">
      <h5 class="col-5 text-start">HOJE</h5>
      <h5 class="col-5 text-nowrap">Saldo do dia</h5>
      <h5 class="col-2 fw-bold">R$</h5>
    </div>
  </div>

  <!-- Div responsavel pelo conteudo do extrato "HOJE"-->
  <div class="container-fluid p-0 pb-1 noventa collapse" id="expandir">
    <div class="p-2 bg-light">
      <div class="container-fluid text-secondary row">
        <span class="">18:39</span>
        <i class="bi bi-arrow-down-right text-success fs-6 col-1"></i>
        <div class="container-fluid text-start col-8">
          <p class="mb-0 laranja">Pix recebido</p>
          <p class="mt-0">Fulano de Tau</p>
        </div>

        <div class="container-fluid laranja text-end col-3">
          <b class="me-5">R$</b>
          <p>
            <a href="" class="btn laranja p-0">
              <i class="bi bi-chevron-compact-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="p-2 bg-light">
      <div class="container-fluid text-secondary row">
        <span class="">17:23</span>
        <i class="bi bi-arrow-down-right text-success fs-6 col-1"></i>
        <div class="container-fluid text-start col-8">
          <p class="mb-0 laranja">Pix recebido</p>
          <p class="mt-0">Fulano de Tau</p>
        </div>

        <div class="container-fluid laranja text-end col-3">
          <b class="me-5">R$</b>
          <p>
            <a href="" class="btn laranja p-0">
              <i class="bi bi-chevron-compact-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="p-2 bg-light">
      <div class="container-fluid text-secondary row">
        <span class="">16:14</span>
        <i class="bi bi-arrow-up-left text-danger fs-6 col-1"></i>
        <div class="container text-start col-8">
          <p class="mb-0 laranja">Pix enviado</p>
          <p class="mt-0">Fulano de Tau</p>
        </div>

        <div class="container-fluid laranja text-end col-3">
          <b class="me-5">R$</b>
          <p>
            <a href="" class="btn laranja p-0">
              <i class="bi bi-chevron-compact-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="p-2 bg-light">
      <div class="container-fluid text-secondary row">
        <span class="">12:19</span>
        <i class="bi bi-arrow-down-right text-success fs-6 col-1"></i>
        <div class="container text-start col-8">
          <p class="mb-0 laranja">Pix recebido</p>
          <p class="mt-0">Fulano de Tau</p>
        </div>

        <div class="container-fluid laranja text-end col-3">
          <b class="me-5">R$</b>
          <p>
            <a href="" class="btn laranja p-0">
              <i class="bi bi-chevron-compact-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="p-2 bg-light">
      <div class="container-fluid text-secondary row">
        <span class="">10:43</span>
        <i class="bi bi-arrow-up-left text-danger fs-6 col-1"></i>
        <div class="container-fluid text-start col-8">
          <p class="mb-0 laranja">Pix enviado</p>
          <p class="mt-0">Fulano de Tau</p>
        </div>

        <div class="container-fluid laranja text-end col-3">
          <b class="me-5">R$</b>
          <p>
            <a href="" class="btn laranja p-0">
              <i class="bi bi-chevron-compact-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Botão para expandir da proxima data. Não fará nada no momento. -->
  <div
    class="container-fluid pt-0 pb-1 noventa"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#expandirDois"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <div class="cinza p-3 laranja row">
      <h5 class="col-5 text-start">10 FEV</h5>
      <h5 class="col-5 text-nowrap">Saldo do dia</h5>
      <h5 class="col-2 fw-bold">R$</h5>
    </div>
  </div>
</div>

<!-- Desktop -->
<div class="container-fluid bg-black w-100 h-100 hide-Desktop p-3">
  <div class="corDesktop px-4 py-2">
    <h1 class="text-light">Extrato de Transações</h1>
    <span class="text-light">Última atualização em {{ dataAtual() }}</span>

    <!-- Div responsavel pelo Filtro de pesquisas -->
    <div class="container-fluid bg-light noventa my-4 px-5 py-4">
      <h1 class="mb-5">Filtro</h1>

      <div class="container row">
        <!-- Div para filtro de Período -->
        <div class="d-flex col-md-6 col-lg-3 p-0">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p class="letraPequena text-start mb-0">Período</p>
              Selecionar período
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Hoje</a></li>
              <li><a class="dropdown-item" href="#">2 últimos dias</a></li>
              <li><a class="dropdown-item" href="#">5 últimos dias</a></li>
              <li><a class="dropdown-item" href="#">30 últimos dias</a></li>
            </ul>
          </div>
        </div>

        <!-- Div para filtro de datas -->
        <div class="d-flex col-md-6 col-lg-3 p-0">
          <div class="dropdown text-nowrap">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p class="letraPequena text-start mb-0">
                Selecionar dias(máx 1ano)
              </p>
              Selecionar datas
            </button>
          </div>
        </div>

        <!-- Div para filtro de horario inicial -->
        <!-- <div class="d-flex col-md-6 col-lg-3 p-0">
          <div class="dropdown text-nowrap">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p class="letraPequena text-start mb-0">Inicio</p>
              Selecione a hora inicial
            </button>
          </div>
        </div> -->

        <!-- Div para filtro de horario final -->
        <!-- <div class="d-flex col-md-6 col-lg-3 p-0 ps-lg-1">
          <div class="dropdown text-nowrap">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p class="letraPequena text-start mb-0">Têrmino</p>
              Selecione a hora final
            </button>
          </div>
        </div> -->

        <!-- Div responsavel pelo tipo de filtro usado -->
        <div class="d-flex col-md-6 col-lg-3 p-0">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p class="letraPequena text-start mb-0">Filtrar por data de</p>
              Selecionar Transação
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Transações</a></li>
              <li>
                <a class="dropdown-item" href="#">Liberação das vendas</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Div responsavel pelo filtro de status de transação -->
        <div class="d-flex col-md-6 col-lg-3 p-0">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p class="letraPequena text-start mb-0">Status de transação</p>
              Selecionar todos
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Selecionar todos</a></li>
              <li><a class="dropdown-item" href="#">Aprovada</a></li>
              <li><a class="dropdown-item" href="#">Cancelada</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid d-flex justify-content-center">
        <!-- Botão buscar -->
        <button type="button" class="btn bg-orange w-25 my-5">Buscar</button>
      </div>
    </div>
    <!-- Div responsavel pelo extrato, após ser filtrado. -->
    <div class="container-fluid bg-light noventa mt-4 px-5 py-4">
      <h1 class="mb-5">Transações</h1>
      <div
        class="container-fluid d-flex flex-column align-items-center justify-content-center"
      >
        <i class="bi bi-info-circle-fill infoIcon"></i>

        <p>Não há lançamentos no periodo definido.</p>
      </div>
    </div>
  </div>
</div>
