<div class="page-container d-flex flex-column">
    <div class="imagem-perfil d-flex flex-column">
        <img src="../../../assets/perfil/imagem-perfil.png" alt="imagem de perfil" class="align-self-center">
    </div>

    <div class="page-container-desktop">
        <div class="meus-dados d-flex flex-column">
            <h1 class="text-center">Meus Dados</h1>
            <div class="separacao-dados">
                <div class="dados-infos">
                    <h6>Nome Completo</h6>
                    <h5>João Bueno Barthon</h5>
                </div>
        
                <div class="dados-infos">
                    <h6>Data de Nascimento</h6>
                    <h5>08/08/2000</h5>
                </div>
        
                <div class="dados-infos">
                    <h6>CPF</h6>
                    <h5>855.312.762-14</h5>
                </div>
        
                <div class="dados-infos">
                    <h6>Celular</h6>
                    <h5>(92) 97196-5462</h5>
                </div>
        
                <div class="dados-infos">
                    <h6>E-mail</h6>
                    <h5>{{'joao.barthon@geradornv.com.br'}}</h5>
                </div>
        
                <div class="dados-infos">
                    <h6>Endereço</h6>
                    <h5 class="mb-3">Rua Beija Flor Abelha, 30.</h5>
                </div>
            </div>
        </div>
        <div class="dados-empresariais">
            <h1 class="text-center">Dados Empresariais</h1>
            <div class="div separacao-dados">
                <div class="dados-empresariais-infos">
                    <h6>Nome da Empresa</h6>
                    <h5>Sharp Coding</h5>
                </div>
        
                <div class="dados-empresariais-infos">
                    <h6>Endereço da Empresa</h6>
                    <h5>Rua Beija Flor Abelha, 125.</h5>
                </div>
        
                <div class="dados-empresariais-infos">
                    <h6>E-mail Empresarial</h6>
                    <h5 class="mb-3">{{'contato@sharpcoding.com.br'}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="botoes d-flex flex-column align-items-center">
        <button>Editar Perfil</button>
        <button>Baixar Dados</button>
        <button>Excluir Dados</button>
        <button class="mb-5">Encerrar Conta</button>
    </div>

</div>