<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img-desktop-login/logo.svg" alt="Bootstrap" width="200" height="49">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <img src="../../../assets/img-navbar/search.png" alt="Bootstrap" width="38" class="search">
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <img src="../../../assets/img-navbar/bell.png" alt="Bootstrap" width="38" class="bell">
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <img src="../../../assets/img-navbar/user-circle.png" alt="Bootstrap" width="38" class="user-circle">
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nome do usuário
                        <br>
                        E-mail
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Home</a></li>
                        <li><a class="dropdown-item" href="#">Extrato</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
