.modal-content{
    width: 300px;
    align-items: center;
    background: black;

}

.modal-header{
    background: black;
    color:white;
    width: 100%;
    position: relative;
}

.modal-header button{
    border-radius: 50%;
    font-size: 15px;
    background: orangered;
    border: none;
    opacity: 70%;
}

.modal-header button:hover{
    opacity: 100%;
}

.modal-header .h5{
    margin-top: 10px;
    margin-left: 60px;
}

.text{
    font-size: 0.8rem;
    width: 300px;
    margin-top: 60px;
    text-align: center;
    color: orangered;
}

.modal-body{
    height: 60%;
    min-height: 200px;
    width: 200px;
}

.modal-body input{
    width: 30px;
    row-gap: 0;
}

.modal-footer button{
    width: 250px;
    background: orangered;
    text-transform: uppercase;
    border: none;
    opacity: 50%;
    cursor: pointer;
}

.modal-footer button:hover{
    opacity: 100%;
}