<div class="home-content bg-black vw-100 vh-100">

    <div class="primeira-fileira d-flex justify-content-center">
        <div class="vendas container-pai">
            <a href="#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/vender.png" alt="ícone de venda">
                    <h6>Vender</h6>
                </div>
            </a>
        </div>
        
        <div class="contas container-pai">
            <a href="#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/pagar.png" alt="ícone de pagamento">
                    <h6>Pagar</h6>
                </div>
            </a>
        </div>
    
        <div class="poupar container-pai">
            <a href="#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/poupar.png" alt="ícone de poupança">
                    <h6>Poupar</h6>
                </div>
            </a>
        </div>
    </div>

    <div class="segunda-fileira d-flex justify-content-center">
        <div class="pix container-pai">
            <a href="#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/pix.png" alt="ícone de pix">
                    <h6>Pix</h6>
                </div>
            </a>
        </div>

        <div class="ted container-pai">
            <a href="#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/ted.png" alt="ícone de transferência">
                    <h6>Ted</h6>
                </div>
            </a>
        </div>
    
        <div class="cartoes container-pai">
            <a href="#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/cartoes.png" alt="ícone de cartões">
                    <h6>Cartões</h6>
                </div>
            </a>
        </div>
    </div>
    
    <div class="tercerira-fileira d-flex justify-content-center">

        <div class="recarga container-pai">
            <a href="#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/recarga.png" alt="ícone de recarga">
                    <h6>Recarga</h6>
                </div>
            </a>
        </div>
    
        <div class="indicar container-pai">
            <a href="#">
                <div class="indicar container-filho">
                    <img src="../../../../assets/home-images/indicar.png" alt="ícone de indicação">
                    <h6>Indicar</h6>
                </div>
            </a>
        </div>
    
        <div class="outros container-pai">
            <a href="#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/outros.png" alt="ícone de três pontinhos (outros)">
                    <h6>Outros</h6>
                </div>
            </a>
        </div>
    </div>  

</div>