a {
    text-decoration: none;
}

.home-content {
    width: auto;
    height: auto;
    padding-top: 5%;
}

.primeira-fileira {
}

.container-pai {
    margin: 3%;     
}

.container-filho {
    background-color: #FFF;
    width: 100px;
    height: 100px;
    border-radius: 20px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
}

.container-filho  h6 {
    font-size: large;
    margin-top: 5px;
    color: #F67816;
}

.container-filho  img {
    width: 60px;
}

.title-pc {
    display: none;
}

/* Notebook */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .title-mobile {
        display: none;
    }

}
  
  /* Desktop */
@media screen and (min-width: 1200px) {
    .title-mobile {
        display: none;
    }
    .title-pc {
        display: block;
    }
    .container-filho {
        width: 250px;
        margin-bottom: 0;
    }
}
  