<div class="home-content bg-black vw-100 vh-100">

    <div class="primeira-fileira d-flex justify-content-center">
        <div class="vendas container-pai">
            <button routerLink="/#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/vender.png" alt="ícone de venda">
                    <h6 class="title-mobile">Vender</h6>
                    <h6 class="title-pc">Minhas vendas</h6>
                </div>
            </button>
        </div>
        
        <div class="contas container-pai">
            <button routerLink="/#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/pagar.png" alt="ícone de pagamento">
                    <h6 class="title-mobile">Pagar</h6>
                    <h6 class="title-pc">Realizar Pagamentos</h6>
                </div>
            </button>
        </div>
    
        <div class="poupar container-pai">
            <button routerLink="/#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/poupar.png" alt="ícone de poupança">
                    <h6 class="title-mobile">Poupar</h6>
                    <h6 class="title-pc">Minha Poupança</h6>
                </div>
            </button>
        </div>
    </div>

    <div class="segunda-fileira d-flex justify-content-center">
        <div class="pix container-pai">
            <button routerLink="/#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/pix.png" alt="ícone de pix">
                    <h6 class="title-mobile">Pix</h6>
                    <h6 class="title-pc">Transferências Pix</h6>
                </div>
            </button>
        </div>

        <div class="ted container-pai">
            <button routerLink="/#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/ted.png" alt="ícone de transferência">
                    <h6 class="title-mobile">Transferir</h6>
                    <h6 class="title-pc">Transferências </h6>
                </div>
            </button>
        </div>
    
        <div class="cartoes container-pai">
            <button routerLink="/#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/cartoes.png" alt="ícone de cartões">
                    <h6 class="title-mobile">Cartões</h6>
                    <h6 class="title-pc">Meus cartões</h6>
                </div>
            </button>
        </div>
    </div>
    
    <div class="tercerira-fileira d-flex justify-content-center">

        <div class="recarga container-pai">
            <button routerLink="/#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/recarga.png" alt="ícone de recarga">
                    <h6 class="title-mobile">Recarga</h6>
                    <h6 class="title-pc">Realizar Recarga</h6>
                </div>
            </button>
        </div>
    
        <div class="indicar container-pai">
            <button routerLink="/#">
                <div class="indicar container-filho">
                    <img src="../../../../assets/home-images/indicar.png" alt="ícone de indicação">
                    <h6 class="title-mobile">Indicar</h6>
                    <h6 class="title-pc">Indicacar Plataforma</h6>
                </div>
            </button>
        </div>
    
        <div class="outros container-pai">
            <button routerLink="/#">
                <div class="container-filho">
                    <img src="../../../../assets/home-images/outros.png" alt="ícone de três pontinhos (outros)">
                    <h6 class="title-mobile">Outros</h6>
                    <h6 class="title-pc">Outros Serviços</h6>
                </div>
            </button>
        </div>
    </div>  

</div>