<div class="bodyCards">
  <section class="cc">
    <div class="cc-bg">
      <div class="cc-logo">
        <span
          ><img src="../../../assets/meus-cartoes/cc-icon.svg" alt="ícone padrão de cartão"
        /></span>
        <span
          ><img
            src="../../../assets/meus-cartoes/cc-default.svg"
            alt="ícone do cartão de crédito selecionado"
        /></span>
      </div>

      <div class="cc-info">
        <div class="cc-number">1234 5678 9012 3456</div>

        <div class="cc-holder">
          <div class="label">Nome do titular</div>
          <div class="value">Joarez Queiroz da Silva</div>
        </div>

        <div class="cc-extra">
          <div class="cc-agency">
            <div class="label">Agência</div>
            <div class="value">00001</div>
          </div>
          <div class="cc-currentAccount">
            <div class="label">Conta Corrente</div>
            <div class="value">5944325-8</div>
          </div>
          <img
            src="../../../assets/meus-cartoes/cc-chip.svg"
            alt="ícone de chip de cartão de crédito"
          />
        </div>
      </div>
    </div>
  </section>
</div>