<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="container">
        <div class="header">
            <div>
                <img src="../../../assets/logo.jpeg" class="logo">
            </div>
            <div class="centralizar-div text">
                <h1>Sharp Coding</h1>
            </div>
            <div class="centralizar-div">
                <h1>Pay</h1>
            </div>
        </div>
    </main>
</body>

</html>