@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;

}

:root{
    --body-color:#000000;
    --sidebar-color:#FFF;
    --sidebar-text: #504645;
    --text-color: #005fdc;
    --gray-light: #c3c3c3;

}

body{
    height: 100vh;
    background: var(--body-color);
}
    
.sidebar{
    position: fixed;
    top: 20%;
    bottom: 15%;
    left: 0;
    height: 100%;
    width: 17%;      
    padding-left: 1%;
    background: var(--sidebar-color);
}

.sidebar header{
    position: relative;
}

.sidebar .imagem{
    min-width: 50px; 
    font-weight:bolder;
    align-items: center;
}

.sidebar header .imagem-texto{
    display: flex;
    align-items: center;
    background:var(--gray-light);
}

.sidebar .texto{
    font-size: 14px;
    font-weight: 1000;
    color: var(--sidebar-text);
    text-decoration: none;
}

header .imagem-texto .texto{
    display: flex;
}

.sidebar li{
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar span{
    color: var(--sidebar-text); 
    font-size: 13px;
}

.sidebar .menu-bar .menu .titulo1{
    display: flex;
    align-items: center;
    height: 5em;
}

.sidebar .menu-bar .menu .titulo2{
    display: flex;
    align-items: center;
    height: 5em;
}

.sidebar li a{
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 1rem;

}

.sidebar .casa{
    color: var(--sidebar-text);
}

.sidebar .figura{
    color: var(--sidebar-text);

}
