<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>   
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<link rel="stylesheet" href="home.component.css">

<body>


    <nav class="sidebar">
        <header>
            <div class = "imagem-texto">
                <span class = "imagem">
                    <a href="home.component.html"><i class="bi bi-house-door-fill casa" style="font-size: 2em"></i></a>
                </span>
                <span class="texto"> 
                    <a href="#">Página Inicial</a>
                </span>
            </div>
        </header>

        <div class="menu-bar">
            <div class = "menu">
                <span class="titulo1">MEU NEGÓCIO</span>
                <li class="Vendas">
                    <a href="#">
                        <i class="bi bi-cart-fill figura"></i>
                        <Span class="texto1">Vendas</Span>
                    </a>    
                </li>
                <li class="Ext_Rel">
                    <a href="#">
                        <i class="bi bi-file-earmark-spreadsheet-fill figura"></i>
                        <Span class="texto2">Extratos e Relatórios</Span>
                    </a>
                </li>
                <li class = "Maq">
                    <a href="#">
                        <i class="bi bi-credit-card-2-front-fill figura"></i>
                        <Span class = "texto3">Maquininha</Span>
                    </a>
                </li>
                <li class="Gest">
                    <a href="#">
                        <i class="bi bi-clipboard2-heart-fill figura"></i>
                        <span class = "texto4">Gestão e Fidelização</span>
                        </a>                    
                </li>
                <li class = "Folha">
                    <a href="#">
                        <i class="bi bi-wallet2 figura"></i>
                        <span class = "texto5">Folha de Pagamento</span>
                    </a>
                </li>
                <span class = "titulo2">CONTA SHARPCODDINGPAY</span>
                <li class = "Pag">
                    <a href="#">
                        <i class="bi bi-upc figura"></i>
                        <span class="texto6">Pagar Contas</span>
                    </a>
                </li>
                <li class="Ext">
                    <a href="#">
                        <i class="bi bi-clipboard2-data figura"></i>
                        <span class = "texto7">Extrato da Conta</span>
                    </a>
                <li class="Trans">
                    <a href="#">
                        <i class="bi bi-arrow-left-right figura"></i>
                        <span class="texto8">Transferências</span>
                    </a>
                </li>
                <li class="Inv">
                    <a href="#">
                        <i class="bi bi-graph-up figura"></i>
                        <span class="texto9">Investimentos</span>
                    </a>
                </li>
                <li class="Emp">
                    <a href="#">
                        <i class="bi bi-cash-coin figura"></i>
                    <span class="texto10">Empréstimo</span>
                    </a>
                </li>
                <li class="Pix">
                    <a href="#">
                        <i class="bi bi-x-diamond-fill figura"></i>
                        <span class="texto11">Pix</span>
                    </a>
                </li>
                <li class="Card">
                    <a href="#">
                        <i class="bi bi-credit-card-2-back figura"></i>
                        <span class="texto12">Cartões</span>
                    </a>
                </li>
                <li class="Van">
                    <a href="#">
                        <i class="bi bi-person-fill-check figura"></i>
                        <span class ="texto13">Vantagens</span>
                    </a>
                </li>
                <li class="Data">
                    <a href="#">
                        <i class="bi bi-person-vcard figura"></i>
                        <span class="texto14">Meus Dados</span>
                    </a>
                </li>
                <li class="Relac">
                    <a href="#">
                        <i class="bi bi-chat-square-dots-fill figura"></i>
                        <span class = "texto15">Central de Relacionamentos</span>
                    </a>
                </li>
                <li class="Config">
                    <a href="#">
                        <i class="bi bi-gear-fill figura"></i>
                        <span class="texto16">Configurações</span>
                    </a>
                </li>
                <li class="Ajuda">               
                    <a href="#">
                        <i class="bi bi-question-circle figura"></i>
                        <span class="texto17">Ajuda</span>
                    </a>
                </li>
                <li class="Sair">
                    <a href="login.component.html">
                        <i class="bi bi-box-arrow-right figura"></i>
                        <span class="texto18">Sair</span>
                    </a>
                </li>
            </div>
        </div>
    
    </nav>
