<div class="extrato">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/extrato/logo.jpeg" alt="Bootstrap" width="30">
                Sharp Coding
            </a>
        </div>
        <!-- <div class="collapse navbar-collapse" id="navbarScroll"> -->
        <div class="d-flex">
                <i class="bi bi-house-fill menu-icone"></i>
                <i class="bi bi-person-circle menu-icone"></i>
        </div>
    </nav>
</div>
    <!-- Extrato da Conta -->
<div class="botaoextrato">
    <div class="btextrato">
        <i class="bi bi-caret-left-fill"></i>
    </div>
    <h3>Extrato de conta</h3>
    <i class="bi bi-list-ul"></i>
</div>
    <!-- Botoes de Transação -->
<div class="bttransacao">
    <button class="btn btn-primary" type="button">Data da transação
        <i class="bi bi-caret-down"></i>
    </button>
    
    <button class="btn btn-primary" type="button">Tipo de transação
        <i class="bi bi-caret-down"></i>
    </button>
</div>
