* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container-fluid {
  position: fixed;
  top: 0px;
  background-color: #000000;
  height: 106px;
  width: 100%;
}

.container-fluid .navbar-brand {
  margin-left: 5%;
}

.navbar li {
  margin: auto;
  padding: 15px;
}

.vertical-line {
  margin: auto;
  width: 1px;
  height: 60px;
  background-color: #f67816;
}

.nav-item i {
  color: #f67816;
  font-size: 1.8em;
}

.nav-item i:hover {
  opacity: 70%;
}

.nav-item .dropdown-toggle {
  color: #f67816;
  letter-spacing: 1.8px;
}

.dropdown-item {
  color: #f67816;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.849);
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
}
