<div class="nav-desktop">
  <nav class="navbar navbar-expand bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="../../../assets/img-desktop-login/logo.svg"
          alt="Bootstrap"
          width="200"
          height="49"
        />
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>

          <div class="vertical-line"></div>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <i class="bi bi-bell-fill"></i>
            </a>
          </li>

          <div class="vertical-line"></div>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <i class="bi bi-person-circle menu-icone"></i>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Nome do usuário
              <br />
              E-mail
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/home">Home</a></li>
              <li><a class="dropdown-item" href="/extrato">Extrato</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/login">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
